body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.single-movie {
  background-color: antiquewhite;
}

.single-movie-title {
  text-align: center;
}

.single-movie-img {
  
}

.single-movie-description {
  text-align: center;
}
