<!DOCTYPE html>
<html>
  <head>
    <title>Movie app</title>

    <% include head %>
  </head>
  <body>
    <% include navbar %>

    <h1 class="text-center p-3">Now Playing</h1>

    <div class="container">
      <% movies.forEach((movie) => { %>
        <%- include('single-movie', { movie }) %>
      <% }) %>
    </div>

  </body>
</html>
