<!DOCTYPE html>
<html>
  <head>
    <title>Movie app</title>

    <% include head %>
  </head>
  <body>
    <% include navbar %>

    <h1 class="text-center p-3">Now Playing</h1>

    <div class="d-flex flex-wrap justify-content-center">
      <% movies.forEach((movie) => { %>
        <div class="m-3">
          <a href="/movie/<%= movie.id %>">
            <img src="<%= imageBaseUrl + movie.poster_path %>" class="rounded" />
          </a>
        </div>
      <% }) %>
    </div>

  </body>
</html>
