<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include head %>
  </head>
  <body>
    <% include navbar %>

    <div class="container">
      <% include single-movie %>
      <% include single-movie %>
    </div>

  </body>
</html>
