<!DOCTYPE html>
<html>
  <head>
    <title>Movie details</title>

    <% include head %>
  </head>
  <body>
    <% include navbar %>

    <div class="container text-center">
        <h1 class="mt-5"><%= movie.original_title %></h1>
        <a href="<%= apiBaseImdb + movie.imdb_id %>" target="_blank">
            <img src="<%= imageBaseUrl + movie.poster_path %>" alt="" class="m-3">
        </a>
        <p class=""><%= movie.overview %></p>
    </div>

  </body>
</html>