<div class="container single-movie">
    <h2 class="single-movie-title"><%= movie.original_title %></h2>
    <img src="<%= imageBaseUrl + movie.poster_path %>" alt="" class="single-movie-img">
    <p class="single-movie-description"><%= movie.overview %></p>
</div>
