<div class="container single-movie">
    <h2 class="single-movie-title">Movie 1 title</h2>
    <img src="" alt="" class="single-movie-img">
    <p class="single-movie-description">Description movie 1</p>
</div>
