<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <% include head %>
  </head>

  <body>
    <form class="form-signin m-5" method="GET" action="/auth-github">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login with GitHub</button>
    </form>
  </body>
</html>