<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="./stylesheets/login.css">

<div class="container">
    <div class="text-center">
        <form action="/process_logout" method="get" class="form-signin">
            <h2><%= email %>,</h2>
            <h4>welcome back!</h4>
            <button class="btn btn-sm btn-primary btn-block" type="submit">Logout</button>
        </form>
    </div>
</div>
